<!-- <%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        <p>Here are our service categories:</p>
        <ul>
            <li><strong>Environmental</strong></li>
            <li><strong>Educational</strong></li>
            <li><strong>Community Service</strong></li>
            <li><strong>Health and Wellness</strong></li>
        </ul>
    </main>
<%- include('partials/footer') %> -->

<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        <p>Here are our service categories:</p>
        <ul>
            <% categories.forEach(category => { %>
                <li><strong><%= category.name %></strong></li>
            <% }); %>
        </ul>
    </main>
<%- include('partials/footer') %>